/*  header  */

@media screen and (min-width:768px){
    header{
        width: 100%;
       
    }
    .container{
        width: 100%;
        margin: auto;
    }  
    header .row{
        justify-content: space-between;  
    
    }
}
@media screen and (min-width: 992px){
    header{
        width: 100%;
        margin: auto;
        display: flex;
    }
    #informations{
        display: flex;    
    }
    #informations li{
        color: white;
        
    }
    #informations li:last-child{
        color: black;
        background-color: white;
        height: 30px;
        line-height: 30px;
        margin-top: 25px;
        padding: 0 10px;
        display: block;
        border-radius: 20px;
    }
    
    .menu{
        display: none;
    }
    .container{
        width: 80%;
        margin: auto;
    }  
}

/* sezione 1 */

@media screen and (min-width:768px){
    .container{
        width: 100%;
    }
    .column{
        flex-direction: row;
       
        flex-wrap: wrap;
        gap: 1rem;
        
    }
    .col:first-child{
        width: calc(2 * (100% / 3) - 2rem / 2 )
    }
    .col{  
        width: calc(100% / 3 - (2 * 2rem / 3));
        /* margin-bottom: 2rem; */
    }
}

@media screen and (min-width: 992px) {
    .container{
        width:70%; 
    }
    .col{
        display: flex;
        flex-wrap: wrap;
        
    }
    .lft{
        width: 50%;
    }
    #size-phone{
        width: 50%;
        position: relative;
        bottom: 0;
        padding-top: 30px;
    }
}

/*  sezione viola  */

@media screen and (min-width:768px){
     aside{
        width: 100%;
     }
     #plan h2{
        padding: 3rem 0;
        text-align: left;
     }
}
@media screen and (min-width: 992px){
    #plan .purple-left{
        width: 50%;
        padding-top: 6rem;
    }
    #plan .row{
        display: flex;
        flex-direction: row;
    }
    #plan .container{
        width: 70%;
    }
   
    #plan img{
        width: 100%;
    }
    .purple-left p{
        padding-left: 3rem;
        font-size: .8rem;
        line-height: 1rem;
    }
    .purple-right{
        width: 40%; 
        border-radius: 30px;  
        align-self: baseline;
        
       
    }
    #arrow{
        font-size: 0.5rem;
    }
    #app{
    width: 50%;
    margin: auto;
    }
    .purple-right h3{
        margin-bottom: 1rem;
    }
    .purple-right p{
        font-size: 0.8rem;
        line-height: 1rem;
        margin-bottom: 1rem;
    }
    aside{
        padding-top: 3rem;
        margin-bottom: 0;
    }
    
}

/*  sezione testimonials */

@media screen and (min-width:768px){
    .clmn{
        flex-direction: row;
        align-items:end
    }
    .picture{
        width: 30%;
    }
    .feedback{
        width: 65%;
    }
    .benefit{
        width: 45%;
        
    }  
}

@media screen and (min-width: 992px){
    .benefit{
        width: 30%; 
    }
    .coll{
        gap: 1rem;
    }
}

/* sezione about us  */

@media screen and (min-width:768px){
    #about-us .row{
        display: flex;
        flex-direction: row;
    }
    .description-left{
        width: 55%;
    }
    .assistant{
        width: 30%;
    }
}   
@media screen and (min-width: 992px){
    #about-us .row{
        display: flex;
        flex-direction: row;
    }
    description-left{
        width: 60%;
    }
    .assistant{
        width: 30%;
}



    
   
  
    
    



/* sezione get started */
@media screen and (min-width:768px){
    .center{
        width: 70%;
    }
}

@media screen and (min-width: 992px){
    .center{
        width: 35%;
    }
}

/* sezione footer  */
@media screen and (min-width:768px){
    .center-footer{
        width: 70%;
    }
}
@media screen and (min-width: 992px){
    .center-footer{
        width: 35%;
}