/*  header  */

@media screen and (min-width:768px){
    header{
        width: 100%;
       
    }
    .container{
        width: 100%;
        margin: auto;
    }  
    header .row{
        justify-content: space-between;  
    
    }
}
@media screen and (min-width: 992px){
    header{
        width: 100%;
        margin: auto;
        display: flex;
    }
    #informations{
        display: flex;    
    }
    #informations li{
        color: white;
        
    }
    #informations li:last-child{
        color: black;
        background-color: white;
        height: 30px;
        line-height: 30px;
        margin-top: 25px;
        padding: 0 10px;
        display: block;
        border-radius: 20px;
    }
    
    .menu{
        display: none;
    }
    .container{
        width: 80%;
        margin: auto;
    }  
}

/* sezione 1 */

@media screen and (min-width:768px){
    .container{
        width: 100%;
        border: 5px solid black;
    }
    .column{
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
        
    }
    .col:first-child{
        width: calc(2 * (100% / 3) - 2rem / 2 )
    }
    .col{  
        width: calc(100% / 3 - (2 * 2rem / 3));
        /* margin-bottom: 2rem; */
    }
}

@media screen and (min-width: 992px) {
    .container{
        width:70%;
        background-color: orange;  
    }
    
}

/*  sezione viola  */

@media screen and (min-width:768px){
   
    .aside{
       width: 100%;
       height: 100%;
    }
}
@media screen and (min-width: 992px){
    .container{
        flex-direction: row;
        justify-content: center;
        gap:1rem
        
    }
    aside{
        width: 40%;
    }
}

/*  sezione testimonials */

@media screen and (min-width:768px){
    .coll{
        flex-direction: row;
        justify-content: center;
        display: flex;
        gap: 2rem;
    }
    
    .benefit{
        width: 45%;
        
    }  
}

@media screen and (min-width: 992px){
    .benefit{
        width: 30%; 
    }
    .coll{
        gap: 1rem;
    }
}

/* sezione about us  */

@media screen and (min-width:768px){
    
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;   
    }
   
    .assistant{
        width: 30%;
    }
    .description-left{
        width: 55%;
    }
}


/* sezione get started */
@media screen and (min-width:768px){
    .center{
        width: 70%;
    }
}

@media screen and (min-width: 992px){
    .center{
        width: 35%;
    }
}

/* sezione footer  */
@media screen and (min-width:768px){
    .center-footer{
        width: 70%;
    }
}
@media screen and (min-width: 992px){
    .center-footer{
        width: 35%;
}