*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: PT Sans;
}
.content{
    flex-direction: column;
}
.container{
    margin-bottom: 3rem;
}
.row{
    display: flex;  
}
.text-center{
    text-align: center;
}   
.mrg-bot{
    margin-bottom: 2rem;
}
.clmn{
    flex-direction: column;
}
header{

    background-color: hsl(208.7deg 100% 49.61%);
    min-height: 80px    
} 
.space-between{
    justify-content: space-between;
}
#logo{
    padding-top: 20px;
    margin: 0 30px;   
}
.menu{
    height: 80px;
    line-height: 80px;
    margin: 0 30px;  
}

#informations{
    display: flex;
    list-style: none;
    gap: 20px;
    line-height: 80px;
    vertical-align: middle;
    padding: 0 20px;
    display: none;
}
/* sezione 1 */

.column{
    flex-direction: column;
    margin: 3rem 2rem ;
    gap: 1rem;
    flex-wrap: wrap; 
    
}
.mrg-bot{
    margin-bottom: 2rem;
}
#demo .col{
    padding-top: 2rem;  
}
.text-left{
    text-align: left;
}
p{
    line-height: 1.8rem;   
}
#demo h3{
    color: hsl(208.7deg 100% 49.61%);
}
.btn-center{
    background-color: hsl(208.7deg 100% 49.61%);
    text-align: center;
    line-height: 3rem;
    width: 80%;
    color: white;
    border-radius: 30px;
}
.btn-center a{
    text-decoration: none;
    color: inherit;
}
#size-phone{
    width: 80%;
    margin: auto;
}
.col{
    
    background-color: hsl(207.57deg 100% 85.49%);
    text-align: left;
    border-radius: 20px;
    padding: 30px 30px 0 30px;  
    margin-bottom: 1rem; 
}
.icon{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
}


/* sezione 2 viola  */
.violet{
    width: 100%;
    background-color: hsl(243.66deg 60.29% 73.33%);
    padding-bottom: 2rem;
}


aside{
    min-height: 300px;
    width: 80%; 
    margin: auto;
    padding-bottom: 2rem;
    color: white;
}
.purple-right{
    width: 80%;
    padding-top: 2rem ;
    background-color: white;
    border-radius: 80px;
    color: black;
}
#arrow{
    background-color: hsl(243.66deg 60.29% 73.33%) ;
    line-height: 25px;
    width: 50px;
    margin: auto;
    line-height: 50px;
    border-radius: 50%;
}
.purple-left .h2{
    text-align: left;
}
/* sezione testimonials */
.testimonial{
    width: 80%;
    margin: auto;
    background-color: hsl(243.66deg 60.29% 73.33%);
    border-radius: 50px;
    margin-bottom: 1rem;
    color: white;
}
.testimonial:first-child{
    padding-top: 3rem;
    color: black;
    background-color: white;
}
.testimonial img{
    text-align: center;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;  
    margin-bottom: 2rem; 
}
.picture{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
#testimonials h2{
    color: hsl(243.66deg 60.29% 73.33%);
}
span{
    line-height: 1.8rem; 
}
.feedback p{
    margin-top: 2rem;
    font-weight: 600;
    padding-bottom: 2rem;
}
/* sezione benefits  */
#benefits h2{
    text-align: center;
    padding: 3rem 0;
    color: white;
}
#benefits h3{
    color: hsl(243.66deg 60.29% 73.33%);
}
.number{
    font-size: 2rem;
    font-weight: 600;
    color: hsl(243.66deg 60.29% 73.33%);
}
.btn-purple{
    width: 40%;
    background-color: hsl(243.66deg 60.29% 73.33%);
    text-align: center;
    line-height: 2rem;
    border-radius: 30px;
}
.btn-purple a{
    text-decoration:none;
    color: white;
    font-weight: 600;
}
.benefit{
    min-height: 200px;
    width: 80%;
    background-color:white;
    margin-bottom: 1rem ;
    padding: 2rem;
    border-radius: 30px;
}
.coll{
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem   
}


/* sezione about us */

p{
    margin-bottom: 2rem;
}
.description-left, .assistant{
   background-color: indigo;
   margin: 0 20px;
}

/* sezione get started */
.center{
    min-height: 200px;
    width: 90%;
    margin:auto;
    background-color: aqua;
    margin-top: 2rem;
}

/* sezione footer  */
footer{
    min-height: 200px;
    background-color: black;
    
}
.center-footer{
    min-height: 200px;
    width: 90%;
    margin:auto;
    background-color: blue ;
    padding: 2rem;
    
}